* {
  font-family: Arial, sans-serif;
}

body {
  background: #d5daef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  width: 650px;
}

/* Left Card */
.result-card {
  background: linear-gradient(180deg, #6a5cff, #4b2ed8);
  color: white;
  width: 50%;
  padding: 30px;
  text-align: center;
}



.circle {
  background: rgba(0,0,0,0.2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.circle h1 {
  font-size: 50px;
  margin: 0;
}

.circle p {
  margin: 0;
  opacity: 0.8;
}


.result-card p {
  font-size: 14px;
  opacity: 0.8;
}

/* Right Card */
.summary-card {
  width: 50%;
  padding: 30px;
}

.summary-card h3 {
  margin-bottom: 20px;
}


.row {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-weight: bold;
}

.reaction { background: #ffe5e5; color: #ff5757; }
.memory   { background: #fff5d6; color: #ffb01f; }
.verbal   { background: #e7fff5; color: #00bb8f; }
.visual   { background: #eef0ff; color: #1125d6; }

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #303b59;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1f2a44;
}
